// Color Tokens
// =============================================================================
// Raw palette definitions in HSL. Semantic aliases live in `_semantic.scss`.

:root {
  --color-red: hsl(359, 100%, 61%);
  --color-orange: hsl(28, 100%, 58%);
  --color-yellow: hsl(48, 100%, 50%);
  --color-green: hsl(135, 59%, 49%);
  --color-mint: hsl(174, 100%, 39%);
  --color-teal: hsl(184, 100%, 41%);
  --color-cyan: hsl(199, 78%, 55%);
  --color-blue: hsl(208, 100%, 50%);
  --color-indigo: hsl(245, 89%, 65%);
  --color-purple: hsl(293, 74%, 53%);
  --color-pink: hsl(349, 100%, 59%);
  --color-brown: hsl(25, 32%, 52%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-gray: hsl(240, 2%, 57%);

  // System gray
  --color-gray2: hsl(240, 3%, 69%);
  --color-gray3: hsl(240, 5%, 79%);
  --color-gray4: hsl(240, 6%, 83%);
  --color-gray5: hsl(240, 11%, 91%);
  --color-gray6: hsl(240, 24%, 96%);
}
